@font-face {
  font-family: "Super-Joyful";
  src: url(/fonts/Super-Joyful.ttf);
}

@font-face {
  font-family: "Coolvetica";
  src: url(/fonts/Coolvetica.ttf);
}

header {
  background-image: url('/imgs/header.png');
  background-size: cover;
  background-position: center;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  position: relative;
}

header h1,
header p {
  position: relative; 
  z-index: 1;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

header h1 {
  font-size: 7.5rem;
  margin: 0 0 1rem 0;
  font-family: "Super-Joyful";
}

header h1 span{
    color: brown;
}

header p {
  font-size: 1.5rem;
  margin: 0;
}

section h2{
    font-family: "Coolvetica";
}