<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<main class="cards-container">
  <a href="/filmes" class="card">
    <img src="/imgs/filmes.png" alt="Filmes">
    <div class="card-content">
      <h2>Filmes</h2>
      <p>Explore grandes sucessos do cinema e lançamentos imperdíveis!</p>
    </div>
  </a>

  <a href="/series" class="card">
    <img src="/imgs/series.png" alt="Séries">
    <div class="card-content">
      <h2>Séries</h2>
      <p>Descubra histórias cativantes e personagens marcantes.</p>
    </div>
  </a>

  <a href="/animacoes" class="card">
    <img src="/imgs/animacoes.png" alt="Animações">
    <div class="card-content">
      <h2>Animações</h2>
      <p>Entre em mundos mágicos e cheios de imaginação.</p>
    </div>
  </a>
</main>
<%- include ('partials/footer.ejs') %>



